{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
Basket Detail
{% endblock %}

{% block your_basket %}active{% endblock %}

{% block content %}


<!-- main content start-->
    <div id="page-wrapper">
        <!-- inner banner -->
        <div class="inner-banner">
        </div>
        <!-- //inner banner -->
        <!-- breadcrumbs -->
        <div class="inner-bc">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'menuapp:clienthome' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item active  text-capitalize" aria-current="page">My Basket</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- //breadcrumbs -->

        <div class="py-lg-5 py-3 bg-pricemain text-right">
			<button type="btn" href="{% url 'menuapp:emptybasket' %}" id="empty-basket">Empty basket</button>
        <div class="py-lg-5 py-3 bg-pricemain text-center">
			{% if request.user.is_authenticated %}
			<h3 class="agile-title text-uppercase">Basket of {{request.user}}</h3>
			{% else %}
			<h3 class="agile-title text-uppercase">My Basket</h3>
			{% endif %}
            <span class="w3-line"></span>
        </div>
        <p id="myp"></p>
       	<div id="my-content">
			<table class="table" id="my-table">
				<thead>
					<tr>
						<th>SN</th>
						<th>Ordered Items</th>
						<th>Image</th>
						<th>Rate</th>
						<th>Quantity</th>
						<th>Subtotal</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for basketitem in mybasket.itembasket_set.all %}
					<tr>
						<td>{{forloop.counter}}</td>
						<td>{{basketitem.item.name}}</td>
						<td><img src="{{basketitem.item.photo.url}}" alt="item" width="75"></td>
						<td>{{basketitem.rate}}</td>
						<td>{{basketitem.quantity}}</td>
						<td>{{basketitem.subtotal}}</td>
						<td>
							<button type="btn" href="{% url 'menuapp:managebasket' basketitem.id 'inr' %}" class="basket-manage">+</button>
							<button type="btn" href="{% url 'menuapp:managebasket' basketitem.id 'dcr' %}" class="basket-manage">-</button>
							<button type="btn" href="{% url 'menuapp:managebasket' basketitem.id 'rmv' %}" class="basket-manage">x</button>
						</td>
					</tr>
					{% empty %}
					<tr>
						<td colspan="5" class="text-center">No Item exists in your basket <a href="{% url 'menuapp:clientitem' %}">Add to Basket Now</a></td>
					</tr>
					{% endfor %}
					<tr>
						<th colspan="5" class="text-right">Total: </th>
						<th>{{mybasket.total}}</th>
					</tr>
				</tbody>
				
			</table>
		</div>
		<a href="{% url 'menuapp:ordercreate' %}"><button>Order Items Now</button></a>


{% endblock %}


{% block js %}
<script type="text/javascript">
	$(document).ready(function(){
		$(".basket-manage").on("click", function(){
			$("#my-content").on("click", ".basket-manage", function(){
			var url_end_point = $(this).attr("href");
			$.ajax({
				method: 'get',
				url: url_end_point,
				data: {

				},
				success: function(data){
					$("#my-content").load("#my-content #my-table");
					$('#myp').html(data).css("display", 'block');
					setTimeout(fade_out, 3000);
						function fade_out() {
					$("#myp").fadeOut().empty();
					}
				}
			})
		  })
		})
	})
</script>

	<script>
	    $(document).ready(function(){ 
	        $("#empty-basket").on("click", function(){
				var empty_url = $(this).attr("href");
				$.ajax({
					method: 'get',
					url: empty_url,
					data: {

					},
					success: function(data){
						$("#my-content").load("#my-content #my-table");
						$('#myp').html(data).css("display", 'block');
						setTimeout(fade_out, 5000);
							function fade_out() {
						$("#myp").fadeOut().empty();
						}
					}
				});
			});
		});
	</script>
{% endblock %}