{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
Special Items Detail page
{% endblock %}

{% block special_item %}active{% endblock %}
{% block content %}
<!-- main content start-->
    <div id="page-wrapper">
        <!-- inner banner -->
        <div class="inner-banner">
        </div>
        <!-- //inner banner -->
        <!-- breadcrumbs -->
        <div class="inner-bc">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'menuapp:clienthome' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="">Menu</a>
                        </li>
                        <li class="breadcrumb-item active  text-capitalize" aria-current="page">Special Item</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- //breadcrumbs -->

  		<section class="wthree-row pt-md-5 pt-0">
            <div class="py-sm-5 pt-3 pb-4 bg-pricemain text-center">
                <h3 class="agile-title text-uppercase">Menu Under Special Items</h3>
                <span class="w3-line"></span>
            </div>
             <div class="row">
                {% for items in allspecialitems %}
                    <div class="col-md-3">
                    <img class="card-img-top" src="{{ items.photo.url }}" width="250" height="200">
                    <div class="card-body bg-light text-center">
                    <h5 class="card-title ">{{ items.name }}</h5>
                    <p class="card-text mb-3 ">Price: Rs.{{ items.price }} only</p>
                    <button type="btn" class="add-to-basket" data-href="{% url 'menuapp:addtobasket' items.id %}">Order Now</button>
                    </div>
                    </div>
                {% endfor %}
            </div>
                    
        </section>


{% endblock %}