{% extends 'clienttemplates/clientbase.html' %}
{% load static %}


{% block title %}
C-Service page
{% endblock %}

{% block service %}active{% endblock %}
{% block content %}


 <!-- main content start-->
    <div id="page-wrapper">
        <!-- inner banner -->
        <div class="inner-banner">
        </div>
        <!-- //inner banner -->
        <!-- breadcrumbs -->
        <div class="inner-bc">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'menuapp:clienthome' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item active  text-capitalize" aria-current="page">services</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- //breadcrumbs -->
        <!-- services -->
        <!-- about-bottom -->
        <section class="wthree-row pt-md-5 pt-0">
            <div class="py-sm-5 pt-3 pb-4 bg-pricemain text-center">
                <h3 class="agile-title text-uppercase">services</h3>
                <span class="w3-line"></span>
            </div>
            <div class="row justify-content-center align-items-center no-gutters abbot-main">
                <div class="col-lg-6 p-0">
                    <img src=" {% static 'clientstatic/images/s1.jpg' %} " class="img-fluid" alt="" />
                </div>
                <div class="col-lg-6 p-0 abbot-right">
                    <div class="card">
                        <div class="card-body px-sm-5 py-5 px-4">
                            <h3 class="stat-title card-title align-self-center">we offer high end business solution</h3>
                            <span class="w3-line"></span>
                            <p class="card-text align-self-center my-3">
                                Vestibulum volutpat non eros ut vulputate. Nunc id risus accumsan Donec mi nulla, auctor nec sem a, ornare auctor mi. Sed
                                mi tortor, commodo a felis in, fringilla tincidunt nulla.</p>
                            <p class="card-text align-self-center mb-4">Donec mi nulla, auctor nec sem a, ornare auctor mi. Sed mi tortor, commodo a felis in, fringilla
                                tincidunt nulla. Vestibulum volutpat non eros ut vulputate.</p>
                            <a href="#serv-bot" class="btn btn-primary abt_card_btn bg-light scroll">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- //about bottom -->
        <section class="wthree-row py-lg-5 services-bg" id="serv-bot">
            <div class="container py-5">
                <div class="py-lg-5 pb-5 bg-pricemain text-center">
                    <h3 class="stat-title card-title align-self-center">services we offer</h3>
                    <span class="w3-line"></span>
                </div>
                <div class="row">
                    <div class="col-md-3 col-6 text-center">
                        <div class="wthree_s1">
                            <a href="" data-toggle="modal" data-target="#services">
                                <img src=" {% static 'clientstatic/images/a1.png' %} " alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 text-center">
                        <div class="wthree_s1">
                            <a href="" data-toggle="modal" data-target="#services">
                                <img src=" {% static 'clientstatic/images/a2.png' %} " alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 text-center mt-md-0 mt-4">
                        <div class="wthree_s1">
                            <a href="" data-toggle="modal" data-target="#services">
                                <img src=" {% static 'clientstatic/images/a5.png' %} " alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 text-center mt-md-0 mt-4">
                        <div class="wthree_s1">
                            <a href="" data-toggle="modal" data-target="#services">
                                <img src=" {% static 'clientstatic/images/a4.png' %} " alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row mt-4 pb-4">
                    <div class="col-md-3 col-6 text-center">
                        <div class="wthree_s1">
                            <a href="" data-toggle="modal" data-target="#services">
                                <img src=" {% static 'clientstatic/images/a5.png' %} " alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 text-center">
                        <div class="wthree_s1">
                            <a href="" data-toggle="modal" data-target="#services">
                                <img src=" {% static 'clientstatic/images/a6.png' %} " alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 text-center  mt-md-0 mt-4">
                        <div class="wthree_s1">
                            <a href="" data-toggle="modal" data-target="#services">
                                <img src=" {% static 'clientstatic/images/a1.png' %} " alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 text-center  mt-md-0 mt-4">
                        <div class="wthree_s1">
                            <a href="" data-toggle="modal" data-target="#services">
                                <img src=" {% static 'clientstatic/images/a2.png' %} " alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sertvices Modal -->
            <div class="modal fade" id="services">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header w3serv_modal">
                            <h4 class="modal-title">Communal</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            <img src=" {% static 'clientstatic/images/banner.jpg' %} " class="img-fluid" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- //services modal -->
        </section>
        <!--//services  -->
        <!-- services bottom -->
        <div class="serv_bottom py-5">
            <div class="container py-sm-3">
                <div class="d-sm-flex justify-content-around pb-4">
                    <h4 class="agile-ser_bot text-capitalize text-white">check our newest projects</h4>
                    <a href="portfolio.html" class="text-uppercase serv_link align-self-center bg-light btn px-sm-4 px-2">explore now</a>
                </div>
                <hr>
                <h5 class="text-center text-uppercase text-white pt-4">everything you need is here</h5>
            </div>
        </div>
        <!-- //services bottom -->
        <!-- pricing -->
        <section class="wthree-row py-5">
            <div class="container py-md-5 py-3">
                <div class="py-lg-5 bg-pricemain text-center">
                    <h3 class="agile-title text-uppercase">choose your plan</h3>
                    <span class="w3-line"></span>
                </div>
                <div class="row pb-sm-5">
                    <div class="col-lg-3 col-md-4 text-center mt-md-2 pb-0 pt-3 px-3 agile-pricegrid">
                        <div class="bg-price py-3 rounded-top text-center">
                            <h4>Basic</h4>
                            <span class="mx-auto my-2"></span>
                        </div>
                        <div class="border p-3 bg-light">
                            <h5 class="pt-2">
                                <sup>$</sup>39</h5>
                            <span>per month</span>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">Cras justo odio</li>
                        </ul>
                        <div class="border border-top-0 py-3 px-2">
                            <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" aria-pressed="false" data-target="#exampleModal">Get Started</button>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 text-center mt-md-2 my-5 pb-0 pt-3 px-3 agile-pricegrid">
                        <div class="bg-price py-3 rounded-top text-center">
                            <h4>Professional</h4>
                            <span class="mx-auto my-2"></span>
                        </div>
                        <div class="border p-3 bg-light">
                            <h5 class="pt-2">
                                <sup>$</sup>69</h5>
                            <span>per month</span>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                        </ul>
                        <div class="border border-top-0 py-3 px-2">
                            <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" aria-pressed="false" data-target="#exampleModal">Get Started</button>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 text-center p-3  mb-md-5  agile-pricegrid">
                        <div class="bg-price py-3 rounded-top text-center">
                            <h4>Business</h4>
                            <span class="mx-auto my-2"></span>
                        </div>
                        <div class="border p-3 bg-light">
                            <h5 class="pt-2">
                                <sup>$</sup>99</h5>
                            <span>per month</span>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                        </ul>
                        <div class="border border-top-0 py-3 px-2">
                            <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" aria-pressed="false" data-target="#exampleModal">Get Started</button>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 text-center mt-md-2 mt-5 pb-0 pt-3 px-3 agile-pricegrid">
                        <div class="bg-price py-3 rounded-top text-center">
                            <h4>Enterprise</h4>
                            <span class="mx-auto my-2"></span>
                        </div>
                        <div class="border p-3 bg-light">
                            <h5 class="pt-2">
                                <sup>$</sup>199</h5>
                            <span>per month</span>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                        </ul>
                        <div class="border border-top-0 py-3 px-2">
                            <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" aria-pressed="false" data-target="#exampleModal">Get Started</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- //pricing -->




{% endblock %}

