{% extends 'clienttemplates/clientbase.html' %}
{% load static %}


{% block title %}
C-About page
{% endblock %}

{% block about %}active{% endblock %}
{% block content %}


<!-- main content start-->
    <div id="page-wrapper">
        <!-- inner banner -->
        <div class="inner-banner">
        </div>
        <!-- //inner banner -->
        <!-- breadcrumbs -->
        <div class="inner-bc">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'menuapp:clienthome' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item active  text-capitalize" aria-current="page">About Us</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- //breadcrumbs -->
        <!-- stats -->
        <section class="agile_stats">
            <div class="container-fluid pt-5">
                <div class="row pt-lg-5 w3-abbottom">
                    <div class="col-lg-6 px-sm-5 px-3">
                        {% for rest in restro %}
                        <div class="stats_agile mb-5">
                            <h3 class="stat-title text-uppercase">{{ rest.name }}</h3>
                            <span class="w3-line"></span>
                            <p class="mt-3">{{ rest.about }}</p>
                        </div>

                        <div class="row">
                            <div class="counter col-4">
                                <i class="far fa-smile fa-2x"></i>
                                <div class="timer count-title count-number mt-2" data-to="1000" data-speed="1500"></div>
                                <p class="count-text text-capitalize">Happy Customers</p>
                            </div>

                            <div class="counter col-4 px-4">
                                <i class="fas fa-database fa-2x"></i>
                                <div class="timer count-title count-number mt-2" data-to="100" data-speed="1500"></div>
                                <p class="count-text text-capitalize">Items</p>
                            </div>

                            <div class="counter col-4">
                                <i class="fab fa-slideshare fa-2x"></i>
                                <div class="timer count-title count-number mt-2" data-to="200" data-speed="1500"></div>
                                <p class="count-text text-capitalize">Specials Served</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img src="{{ rest.profile_image.url }}" class="img-fluid" alt="" />
                    </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        <!-- //stats -->
       

        <section class="wthree-row pt-md-5 pt-0">
            <div class="py-sm-5 pt-3 pb-4 bg-pricemain text-center">
                <h3 class="agile-title text-uppercase">Our Valuable Staffs</h3>
                <span class="w3-line"></span>
            </div>
            <div class="row justify-content-center align-items-center no-gutters abbot-main">
                <div class="row">
                    {% for staff in allstaffs %}
                    <div class="col-md-4">
                    <h4>
                    {{ staff.name }}
                    </h4>
                    <img src="{{ staff.photo.url }}" width = 150>
                    <h4>
                    Position: {{ staff.position }}
                    </h4>
                    <h4>
                    Experience: {{staff.experience}} years
                    </h4>
                    <hr>
                    </div>
                    {% endfor %}
                        
                </div>
            </div>
        </section>


{% endblock %}

