{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
Client Album Detail
{% endblock %}


{% block content %}



<!-- main content start-->
    <div id="page-wrapper">
        <!-- inner banner -->
        <div class="inner-banner">
        </div>
        <!-- //inner banner -->
        <!-- breadcrumbs -->
        <div class="inner-bc">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'menuapp:clienthome' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item active  text-capitalize" aria-current="page">Album Images</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- //breadcrumbs -->

         
                <div class="py-lg-5 py-3 bg-pricemain text-center">
                    <h3 class="agile-title text-uppercase">Album Images on {{clientalbumobject.title}}</h3>
                    <span class="w3-line"></span>
                </div>
            <div class="row">
                {% for album in clientalbumobject.albumimage_set.all %}
                    <div class="col-md-2">
                        <a href="{{album.image.url}}" data-toggle="lightbox">
                            
                             <img src="{{album.image.url}}" class="img-fluid">
                        </a>
                    </div> 
                {% endfor %}
            </div>



{% endblock %}