{% extends 'clienttemplates/clientbase.html' %}
{% load static %}


{% block title %}
C-Enquery page
{% endblock %}

{% block enquery %}active{% endblock %}
{% block content %}


 <!-- main content start-->
    <div id="page-wrapper">
        <!-- inner banner -->
        <div class="inner-banner">
        </div>
        <!-- //inner banner -->
        <!-- breadcrumbs -->
        <div class="inner-bc">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'menuapp:clienthome' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Enquery</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- //breadcrumbs -->

        <!-- contact -->
        <section class="wthree-row pt-3 pb-5 w3-contact">
            <div class="container py-sm-5 pt-0 pb-5">
                <div class="py-lg-5 bg-pricemain text-center">
                    <h3 class="agile-title text-uppercase">Enquery us</h3>
                    <span class="w3-line"></span>
                </div>
                <div class="row contact-form pt-5">
                    <div class="col-lg-6 wthree-form-left">
                        <!-- contact form grid -->
                        <div class="contact-top1">
                            <h5 class="text-dark mb-4 text-capitalize">Send us your enquery.</h5>
                            <form action="." method="post" class="f-color">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="contactusername">Name</label>
                                    {{ form.name }}
                                    {{ form.name.errors }}
                                </div>
                                <div class="form-group">
                                    <label for="contactemail">Email</label>
                                    {{ form.email }}
                                    {{ form.email.errors }}
                                </div>
                                <div class="form-group">
                                    <label for="contactmobile">Mobile</label>
                                    {{ form.mobile }}
                                    {{ form.mobile.errors }}
                                </div>
                                <div class="form-group">
                                    <label for="contactmenu">Menu</label>
                                    {{ form.menu }}
                                    {{ form.menu.errors }}
                                </div>
                                <div class="form-group">
                                    <label for="contactitem">Item</label>
                                    {{ form.item }}
                                    {{ form.item.errors }}
                                </div>
                                <div class="form-group">
                                    <label for="contactcomment">Your Enquery</label>
                                    {{ form.message }}
                                    {{ form.message.errors }}
                                </div>
                                <button type="submit" class="btn btn-info btn-block">Send</button>
                            </form>
                        </div>
                        <!--  //contact form grid ends here -->
                    </div>
                    <!-- contact details -->
                    {% for rest in restro %}
                    <div class="col-lg-6 contact-bottom pl-5 mt-lg-0 mt-5">
                        <!-- contact details grid1-->
                        <div class="address">
                            <h5 class="pb-3 text-capitalize">Address</h5>
                            <address>
                                <p class="c-txt">{{ rest.address }}</p>
                            </address>
                        </div>
                        <!-- contact details grid2-->
                        <div class="address my-5">
                            <h5 class="pb-3 text-capitalize">phone</h5>
                            <p>
                                {{ rest.phone }}</p>
                            <p>
                                {{ rest.mobile }}</p>
                        </div>
                        <!-- contact details grid3 -->
                        <div class="address mt-md-0 mt-3">
                            <h5 class="pb-3 text-capitalize">Email</h5>
                            <p>
                                <a href="mailto:info@example.com">{{ rest.email }}</a>
                            </p>
                            <p>
                                <a href="mailto:info@example.com">{{ rest.website }}</a>
                            </p>
                        </div>
                        <!-- //contact details row ends here -->
                    </div>
                    {% endfor %}
                </div>
                <!-- //contact details container -->
            </div>
            <!-- contact map grid -->
            <div class="map contact-right p-sm-5 px-3">
                <div class="py-5 bg-pricemain text-center">
                    <h3 class="stat-title text-capitalize">get directions</h3>
                    <span class="w3-line"></span>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3533.99222256216!2d85.31953941453719!3d27.655712334367262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb177ecff27973%3A0xb57b2fbfc94f7fe7!2sSarobar+Technology+Pvt.+Ltd.!5e0!3m2!1sen!2snp!4v1564589062937!5m2!1sen!2snp" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <!--//contact map grid ends here-->
        </section>





{% endblock %}


<!-- Starting of block js -->
{% block js %}

<script type="text/javascript">
    $(document).ready(function(){
        $("#id_menu").on("change", function(){
            var m_id = $(this).val(); //Service ko ID liyo yeti samma
            $.ajax({
                method: "get",
                url: "{% url 'menuapp:ajaxgetitems' %}",
                data: {
                    "menu_id": m_id
                },
                success: function(data){
                    $("#id_item").html(data);
                }
            })
        })
    })
</script>

{% endblock %}
<!-- End of block js -->