{% extends 'clienttemplates/clientbase.html' %}
{% load static %}


{% block title %}
C-Menu Item Page
{% endblock %}

{% block item %}active{% endblock %}
{% block content %}



<!-- main content start-->
    <div id="page-wrapper">
        <!-- inner banner -->
        <div class="inner-banner">
        </div>
        <!-- //inner banner -->
        <!-- breadcrumbs -->
        <div class="inner-bc">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'menuapp:clienthome' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item active  text-capitalize" aria-current="page">All Items</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- //breadcrumbs -->

         
                <div class="py-lg-5 py-3 bg-pricemain text-center">
                    <h3 class="agile-title text-uppercase">Today's Menu Items</h3>
                    <span class="w3-line"></span>
                </div>
            <div class="row">
				{% for items in allitems %}
					<div class="col-md-3">
    					<img class="card-img-top" src="{{ items.photo.url }}" width="250" height="200">
    					<div class="card-body bg-light text-center">
    					<h5 class="card-title ">{{ items.name }}</h5>
    					<p class="card-text mb-3 ">Price: Rs.{{ items.price }}/-</p>
    					<button type="btn" class="add-to-basket" data-href="{% url 'menuapp:addtobasket' items.id %}">Order Now</button>
    					</div>
					</div>
				{% endfor %}
            </div>

{% if allitems.has_other_pages %}
<ul class="pagination">
    {% if allitems.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ allitems.previous_page_number }}">Previous</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
    {% endif %}
    {% for n in allitems.paginator.page_range %}
        {% if allitems.number == n %}
            <li class="page-item active"><span class="page-link">{{ n }} <span class="sr-only">(current)</span></span></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{n}}</a></li>
        {% endif %}
    {% endfor %}
    {% if allitems.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ allitems.next_page_number}}">Next</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Next</span></li>
    {% endif %}
</ul>
{% endif %}
          



           <!--  <div class="row">
            	<div class="col-md-3">
                    {% for items in allitems %}
                    <h4>{{ items.name }}</h4>
                    <img src="{{ items.photo.url }}" width="250">
                    <h5>{{ items.price }}</h5>
                    {% endfor %}
                </div>
            </div> -->
							                     


{% endblock %}