{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
Client Album
{% endblock %}

{% block album %}active{% endblock %}

{% block content %}



<!-- main content start-->
    <div id="page-wrapper">
        <!-- inner banner -->
        <div class="inner-banner">
        </div>
        <!-- //inner banner -->
        <!-- breadcrumbs -->
        <div class="inner-bc">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'menuapp:clienthome' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item active  text-capitalize" aria-current="page">All Album</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- //breadcrumbs -->

         
                <div class="py-lg-5 py-3 bg-pricemain text-center">
                    <h3 class="agile-title text-uppercase">Today's Menu Album</h3>
                    <span class="w3-line"></span>
                </div>
            <div class="row">
				{% for album in allalbum %}
					<div class="col-md-3">
    					<img class="card-img-top" src="{{ album.profile_image.url }}" width="250" height="200">
    					<div class="card-body bg-light text-center">
    					<h5 class="card-title ">{{ album.title }}</h5>
    					<a href="{% url 'menuapp:clientalbumdetail' album.id %}" class="btn">View More</a>
    					</div>
					</div>
				{% endfor %}
            </div>
            
           
		<!-- <div class="col-md-6">
	        <h2>Videos</h2>
	        {% for video in allvidoes %}
	        <p>{{video.title}}</p>
	        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video.link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	        
	        <p>{{video.description}}</p>
			{% endfor %}
	    </div> -->

{% endblock %}