{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
CLient SUbscriber Page
{% endblock %}


{% block content %}
 <div id="page-wrapper">
        <!-- inner banner -->
        <div class="inner-banner">
        </div>

         <!-- //inner banner -->
        <!-- breadcrumbs -->
        <div class="inner-bc">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'menuapp:clienthome' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item active text-capitalize" aria-current="page">Subscribe</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- //breadcrumbs -->
		 <section class="agile_stats">
            <div class="container-fluid pt-5">
                <div class="row pt-lg-5 w3-abbottom">
                <span class="w3-line"></span>
					<form method="post">
						{% csrf_token %}
						{{form.as_table}}
						<button>Subscribe Us</button>
					</form>
            	</div>
            </div>
        </section>

{% endblock %}