{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
Client Order Create Page
{% endblock %}


{% block content %}

<!-- main content start-->
    <div id="page-wrapper">
        <!-- inner banner -->
        <div class="inner-banner">
        </div>
        <!-- //inner banner -->
        <!-- breadcrumbs -->
        <div class="inner-bc">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'menuapp:clienthome' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item active  text-capitalize" aria-current="page">All Items</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- //breadcrumbs -->

         
                <div class="py-lg-5 py-3 bg-pricemain text-center">
                    <h3 class="agile-title text-uppercase">Today's Menu Items</h3>
                    <span class="w3-line"></span>
                </div>
	<div class="row pt-lg-5 w3-abbottom">

		<div class="col-lg-9 px-sm-5 px-3">
			<h4><span>Your Basket Order List</span></h4>
			<table class="table">
				<thead>
					<tr>
						<th>SN</th>
						<th>Item</th>
						<th>Image</th>
						<th>Subtotal</th>
					</tr>
				</thead>
				<tbody>
					{% for basketitem in basket_obj.itembasket_set.all %}
					<tr>
						<td>{{forloop.counter}}</td>
						<td>{{basketitem.item}}</td>
						<td><img src="{{basketitem.item.photo.url}}" width="80"></td>
						<td>{{basketitem.rate}}*{{basketitem.quantity}} = {{basketitem.subtotal}}</td>
					</tr>
					{% endfor %}
					<tr>
						<th colspan="3" class="text-right">Total: </th>
						<th>{{basket_obj.total}}</th>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col-md-3">
			<form method="post">
				{% csrf_token %}
				{{form.as_p}}
				<input type="submit" name="Send Order">		
			</form>	
		</div>

	</div>

{% endblock %}