{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
Client Order Detail Page
{% endblock %}

{% block content %}

<!-- main content start-->
    <div id="page-wrapper">
        <!-- inner banner -->
        <div class="inner-banner">
        </div>
        <!-- //inner banner -->
        <!-- breadcrumbs -->
        <div class="inner-bc">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'menuapp:clienthome' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="">Order Detail</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- //breadcrumbs -->

        <div class="py-lg-5 py-3 bg-pricemain text-center">
            <h3 class="agile-title text-uppercase">Order Detail of Order ID: {{ orderobject.id }}</h3>
            <span class="w3-line"></span>
        </div>
       <div class="col-lg-12 px-sm-5 px-3">
			<h4><span>Your Basket Order List</span></h4>
			<table class="table">
				<thead>
					<tr>
						<th>SN</th>
						<th>Item</th>
						<th>Image</th>
						<th>Subtotal</th>
					</tr>
				</thead>
				<tbody>
					{% for basketitem in orderobject.basket.itembasket_set.all %}
					<tr>
						<td>{{forloop.counter}}</td>
						<td>{{basketitem.item}}</td>
						<td><img src="{{basketitem.item.photo.url}}" width="80"></td>
						<td>{{basketitem.rate}}*{{basketitem.quantity}} = {{basketitem.subtotal}}</td>
					</tr>
					{% endfor %}
					<tr>
						<th colspan="3" class="text-right">Total: </th>
						<th>{{orderobject.total}}</th>
					</tr>
				</tbody>
			</table>
		</div>


{% endblock %}