{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
Orders List
{% endblock %}

{% block your_order %}active{% endblock %}

{% block content %}


<!-- main content start-->
    <div id="page-wrapper">
        <!-- inner banner -->
        <div class="inner-banner">
        </div>
        <!-- //inner banner -->
        <!-- breadcrumbs -->
        <div class="inner-bc">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'menuapp:clienthome' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item active  text-capitalize" aria-current="page">My Orders</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- //breadcrumbs -->

        <div class="py-lg-5 py-3 bg-pricemain text-center">
			{% if request.user.is_authenticated %}
			<h3 class="agile-title text-uppercase" align="text-left">Order List of '{{request.user}}' Customer</h3>
			{% else %}
			<h3 class="agile-title text-uppercase">Sorry, You must be logged in first to see orders.</h3>
			{% endif %}
            <span class="w3-line"></span>
        </div>
        <p id="myp"></p>
       	<div id="my-content">
			<table class="table" id="my-table">
				<thead>
					<tr>
						<th>SN</th>
						<th>Order ID</th>
						<th>Order By</th>
						<th>Order Total</th>
						<th>Order Status</th>
						<th>Payment Method</th>
					</tr>
				</thead>
				<tbody>
					{% for order in allorders %}
					<tr class='clickable-row' data-href="{% url 'menuapp:orderdetail' order.id %}">
						<td>{{forloop.counter}}</td>
						<td>ID: '{{order.id}}'</td>
						<td>{{order.customer}}</td>
						<td>{{order.total}}</td>
						<td>{{order.order_status}}</td>
						<td>{{order.payment_method}}</td>
					</tr>
					{% endfor %}
				</tbody>
				
			</table>
		</div>

{% endblock %}


{% block js %}

	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".clickable-row").click(function() {
				window.location = $(this).attr("data-href");
			});
		});
	</script>





<!-- <script type="text/javascript">
	$(document).ready(function(){
		$(".basket-manage").on("click", function(){
			$("#my-content").on("click", ".basket-manage", function(){
			var url_end_point = $(this).attr("href");
			$.ajax({
				method: 'get',
				url: url_end_point,
				data: {

				},
				success: function(data){
					$("#my-content").load("#my-content #my-table");
					$('#myp').html(data).css("display", 'block');
					setTimeout(fade_out, 3000);
						function fade_out() {
					$("#myp").fadeOut().empty();
					}
				}
			})
		  })
		})
	})
</script>

	<script>
	    $(document).ready(function(){ 
	        $("#empty-basket").on("click", function(){
				var empty_url = $(this).attr("href");
				$.ajax({
					method: 'get',
					url: empty_url,
					data: {

					},
					success: function(data){
						$("#my-content").load("#my-content #my-table");
						$('#myp').html(data).css("display", 'block');
						setTimeout(fade_out, 5000);
							function fade_out() {
						$("#myp").fadeOut().empty();
						}
					}
				});
			});
		});
	</script> -->
{% endblock %}