{% extends 'admintemplates/adminbase.html' %}
{% load static %}


{% block title %}
Emenu-Admin ItemList Page
{% endblock %}



{% block content %}

<div class="row">
	<div class="col-md-10">
		
        
	</div>
	<div class="col-md-2">
		<a href="{% url 'menuapp:adminitemcreate' %}"  style="font-size: 40px"><span class="fas fa-plus-circle text-primary"></span></a>
	</div>
</div>

    <h4>All Items</h4>

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">S.N</th>
                <th scope="col">Name of item</th>
                <th scope="col">Image</th>
                <th scope="col">Price(Rs.)</th>
                <th scope="col">Update</th>
            </tr>
        </thead>
        <tbody>
        	{% for items in itemobjects %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{items.name}}</td>
                <td><img src="{{items.photo.url}}" width="70"></td>
                <td>{{items.price}}</td>
                <td>
                	<a href="{% url 'menuapp:adminitemupdate' items.id %} "><button class="btn btn-info">Edit</button></a>
                	<a href="{% url 'menuapp:adminitemdelete' items.id %}"><button class="btn btn-danger">Delete</button></a>
                </td>
                <td>
                </td>
            </tr>
            {% endfor %}
            {% if page_obj.has_other_pages %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
                {% for n in page_obj.paginator.page_range %}
                    {% if page_obj.number == n %}
                        <li class="page-item active"><span class="page-link">{{ n }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ n }}">{{n}}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number}}">Next</a></li>
                {% else %}
                  <li class="page-item disabled"><span class="page-link">Next</span></li>
                {% endif %}
            </ul>
            {% endif %}
        </tbody>
    </table>




{% endblock %}