{% extends 'admintemplates/adminbase.html' %}
{% load static %}


{% block title %}
Emenu-Admin BannerPage
{% endblock %}



{% block content %}

<div class="row">
	<div class="col-md-10">
		
        
	</div>
	<div class="col-md-2">
		<a href="{% url 'menuapp:adminbannercreate' %}"  style="font-size: 40px"><span class="fas fa-plus-circle text-primary"></span></a>
	</div>
</div>

    <h4>All Banners</h4>

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">S.N</th>
                <th scope="col">Title</th>
                <th scope="col">Caption</th>
                <th scope="col">Link</th>
                <th scope="col">Update</th>
            </tr>
        </thead>
        <tbody>
        	{% for slider in allsliders %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{slider.title}}</td>
                <td>{{slider.caption}}</td>
                <td>{{slider.link}}</td>
                <td>
                	<a href="{% url 'menuapp:adminbannerupdate' slider.id %} "><button class="btn btn-info">Edit</button></a>
                	<a href="{% url 'menuapp:adminbannerdelete' slider.id %}"><button class="btn btn-danger">Delete</button></a>
                </td>
                <td>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>




{% endblock %}