{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Admin Banner Delete Page
{% endblock %}



{% block content %}

<h3>Slide Banner Delete</h3>
<form method="POST">
	{% csrf_token %}
	<p>Are you sure you want to delete === " {{object.title}} " slide banner ????</p>
	<button class="btn btn-danger">Yes</button>
	<a href="{% url 'menuapp:adminbannerlist' %}" class="btn btn-primary">No</a>

</form>


{% endblock %}