{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Admin Staff Delete Page
{% endblock %}



{% block content %}

<h3>Staff Delete</h3>
<form method="POST">
	{% csrf_token %}
	<p>Are you sure you want to delete === " {{object.title}} " Staff ????</p>
	<button class="btn btn-danger">Yes</button>
	<a href="{% url 'menuapp:adminitemlist' %}" class="btn btn-primary">No</a>

</form>


{% endblock %}