{% extends 'admintemplates/adminbase.html' %}
{% load static %}


{% block title %}
Emenu-Admin BasketList Page
{% endblock %}



{% block content %}

<div class="row">
	<div class="col-md-10">
		
        
	</div>
	<div class="col-md-2">
	</div>
</div>

    <h4>All Baskets</h4>
    <a href=""><i class="fa fa-envelope nav_icon"></i><span class="fa arrow">Filter</span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="">Try</a>
        </li>
        
    </ul>

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">S.N</th>
                <th scope="col">Basket ID</th>
                <th scope="col">Customer</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
        	{% for basket in allbaskets %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>Basket ID: '{{basket.id}}'</td>
                <td>{{basket.customer}}</td>
                <td>{{basket.total}}</td>
            </tr>
            {% endfor %}
            {% if page_obj.has_other_pages %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
                {% for n in page_obj.paginator.page_range %}
                    {% if page_obj.number == n %}
                        <li class="page-item active"><span class="page-link">{{ n }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ n }}">{{n}}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number}}">Next</a></li>
                {% else %}
                  <li class="page-item disabled"><span class="page-link">Next</span></li>
                {% endif %}
            </ul>
            {% endif %}
        </tbody>
    </table>




{% endblock %}