{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Admin Special Item Delete Page
{% endblock %}



{% block content %}

<h3>Special Item Delete</h3>
<form method="POST">
	{% csrf_token %}
	<p>Are you sure you want to delete === " {{object.title}} " special item ????</p>
	<button class="btn btn-danger">Yes</button>
	<a href="{% url 'menuapp:adminspecialitemlist' %}" class="btn btn-primary">No</a>

</form>


{% endblock %}