{% extends 'admintemplates/adminbase.html' %}
{% load static %}


{% block title %}
Emenu-Admin ItemCreate Page
{% endblock %}



{% block content %}

<h3 class="text-center"> Item Form</h3>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<form action="." method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{form.as_p}}
			<input type="submit" name="Submit">	
		</form>
	</div>
</div>


{% endblock %}