{% extends 'admintemplates/adminbase.html' %}
{% load static %}


{% block title %}
Admin Menu Detail Page
{% endblock %}


{% block content %}


	<h3>
		 Items Under {{ menuobject }} menu
	</h3>

	<table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">S.N</th>
                <th scope="col">Name of Item</th>
                <th scope="col">Image</th>
                <th scope="col">Price(Rs.)</th>
                <th scope="col">Update</th>
            </tr>
        </thead>
        <tbody>
        	{% for items in menuobject.item_set.all %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{items.name}}</td>
                <td><img src="{{items.photo.url}}" width="70"></td>
                <td>{{items.price}}</td>
                <td>
                    <a href="{% url 'menuapp:adminitemupdate' items.id %} "><button class="btn btn-info">Edit</button></a>
                    <a href="{% url 'menuapp:adminitemdelete' items.id %}"><button class="btn btn-danger">Delete</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}