{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}
		E-Menu Admin SignUp
		{% endblock %}
	</title>
</head>
<body>
		<form method="POST">
			{% csrf_token %}
			<div class="sign-u">
			{{form.username}}
			<div class="clearfix"> </div>
			</div>
			<div class="sign-u">
			{{form.email}}
			<div class="clearfix"> </div>
			</div>
			<h6>Login Information :</h6>
			<div class="sign-u">
			{{form.password}}
			<div class="clearfix"> </div>
			</div>
			<div class="sign-u">
			{{form.confirm_password}}
			</div>
			<div class="clearfix"> </div>
			<div class="sub_home">
			<input type="submit" value="Sign Up">
			<div class="clearfix"> </div>
			</div>
			<div class="registration">
			Already Registered.
			<a class="" href="{% url 'menuapp:adminsignin' %}">
			Login
			</a>
			</div>
		</form>

</body>
</html>