{% extends 'admintemplates/adminbase.html' %}
{% load static %}


{% block title %}
Emenu-Admin Menu LIst Page
{% endblock %}



{% block content %}

<div class="row">
	<div class="col-md-10">
		
        
	</div>
	<div class="col-md-2">
		<a href="{% url 'menuapp:adminmenucreate' %}"  style="font-size: 40px"><span>+</span></a>
	</div>
</div>

    <h4>All Menus</h4>

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">S.N</th>
                <th scope="col">Title</th>
                <th scope="col">Caption</th>
                <th scope="col">Update</th>
            </tr>
        </thead>
        <tbody>
        	{% for menu in allmenus %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{menu.title}}</td>
                <td>{{menu.caption}}</td>
                <td>
                	<a href="{% url 'menuapp:adminmenuupdate' menu.id %} "><button class="btn btn-info">Edit</button></a>
                	<a href="{% url 'menuapp:adminmenudelete' menu.id %}"><button class="btn btn-danger">Delete</button></a>
                </td>
                <td>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>




{% endblock %}