{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Admin Menu Delete Page
{% endblock %}



{% block content %}

<h3>Menu Delete</h3>
<form method="POST">
	{% csrf_token %}
	<p>Are you sure you want to delete === " {{object.title}} " Menu ????</p>
	<button class="btn btn-danger">Yes</button>
	<a href="{% url 'menuapp:adminmenulist' %}" class="btn btn-primary">No</a>

</form>


{% endblock %}