{% extends 'admintemplates/adminbase.html' %}
{% load static %}


{% block title %}
Emenu-Admin BannerCreate Page
{% endblock %}



{% block content %}

<h3> Slide Banner Form</h3>

<form action="." method="POST">
	{% csrf_token %}
	{{form.as_p}}
	<input type="submit" name="Submit">	
</form>



{% endblock %}