<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>
{% block title %}
{% endblock %}
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href=" {% static 'adminstatic/css/bootstrap.min.css' %} " rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href=" {% static 'adminstatic/css/style.css' %} " rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href=" {% static 'adminstatic/css/lines.css' %} " rel='stylesheet' type='text/css' />
<link href=" {% static 'adminstatic/css/font-awesome.css' %} " rel="stylesheet"> 
<!-- jQuery -->
<script src=" {% static 'adminstatic/js/jquery.min.js' %} "></script>
<!----webfonts--->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
<!---//webfonts--->  
<!-- Nav CSS -->
<link href=" {% static 'adminstatic/css/custom.css' %} " rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script src=" {% static 'adminstatic/js/metisMenu.min.js' %} "></script>
<script src=" {% static 'adminstatic/js/custom.js' %} "></script>
<!-- Graph JavaScript -->
<script src=" {% static 'adminstatic/js/d3.v3.js' %} "></script>
<script src=" {% static 'adminstatic/js/rickshaw.js' %} "></script>
</head>
<body>
<div id="wrapper">
     <!-- Navigation -->
        <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=" {% url 'menuapp:adminhome' %} ">Xeno Restro</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-comments-o"></i><span class="badge">4</span></a>
              <ul class="dropdown-menu">
            <li class="dropdown-menu-header">
              <strong>Messages</strong>
              <div class="progress thin">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                  <span class="sr-only">40% Complete (success)</span>
                </div>
              </div>
            </li>
            <li class="avatar">
              <a href="#">
                <img src=" {% static 'adminstatic/images/1.png' %} " alt=""/>
                <div>New message</div>
                <small>1 minute ago</small>
                <span class="label label-info">NEW</span>
              </a>
            </li>
            <li class="avatar">
              <a href="#">
                <img src=" {% static 'adminstatic/images/2.png' %} " alt=""/>
                <div>New message</div>
                <small>1 minute ago</small>
                <span class="label label-info">NEW</span>
              </a>
            </li>
            <li class="avatar">
              <a href="#">
                <img src=" {% static 'adminstatic/images/3.png' %} " alt=""/>
                <div>New message</div>
                <small>1 minute ago</small>
              </a>
            </li>
            <li class="avatar">
              <a href="#">
                <img src=" {% static 'adminstatic/images/4.png' %} " alt=""/>
                <div>New message</div>
                <small>1 minute ago</small>
              </a>
            </li>
            <li class="avatar">
              <a href="#">
                <img src=" {% static 'adminstatic/images/5.png' %} " alt=""/>
                <div>New message</div>
                <small>1 minute ago</small>
              </a>
            </li>
            <li class="avatar">
              <a href="#">
                <img src=" {% static 'adminstatic/images/pic1.png' %} " alt=""/>
                <div>New message</div>
                <small>1 minute ago</small>
              </a>
            </li>
            <li class="dropdown-menu-footer text-center">
              <a href="#">View all messages</a>
            </li> 
              </ul>
            </li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown"><img src=" {% static 'adminstatic/images/1.png' %} "><span class="badge">9</span></a>
              <ul class="dropdown-menu">
            <li class="dropdown-menu-header text-center">
              <strong>{{request.user}}</strong>
            </li>
            <li class="m_2"><a href="#"><i class="fa fa-bell-o"></i> Updates <span class="label label-info">42</span></a></li>
            <li class="m_2"><a href="#"><i class="fa fa-envelope-o"></i> Messages <span class="label label-success">42</span></a></li>
            <li class="m_2"><a href="#"><i class="fa fa-tasks"></i> Tasks <span class="label label-danger">42</span></a></li>
            <li><a href="#"><i class="fa fa-comments"></i> Comments <span class="label label-warning">42</span></a></li>
            <li class="dropdown-menu-header text-center">
              <strong>Settings</strong>
            </li>
            <li class="m_2"><a href="#"><i class="fa fa-user"></i> Profile</a></li>
            <li class="m_2"><a href="#"><i class="fa fa-wrench"></i> Settings</a></li>
            <li class="m_2"><a href="#"><i class="fa fa-usd"></i> Payments <span class="label label-default">42</span></a></li>
            <li class="m_2"><a href="#"><i class="fa fa-file"></i> Projects <span class="label label-primary">42</span></a></li>
            <li class="divider"></li>
            <li class="m_2"><a href="#"><i class="fa fa-shield"></i> Lock Profile</a></li>
            <li class="m_2"><a href="/emenu-admin/signout/"><i class="fa fa-lock"></i> Logout</a></li>  
              </ul>
            </li>
      </ul>
      <form class="navbar-form navbar-right">
              <input type="text" class="form-control" value="Search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}">
            </form>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href=" {% url 'menuapp:adminhome' %} "><i class="fa fa-dashboard fa-fw nav_icon"></i>Admin-Home</a>
                        </li>
                        <li>
                            <a href=" {% url 'menuapp:clienthome' %} "><i class="fa fa-dashboard fa-fw nav_icon"></i>Client-Home</a>
                        </li>
                         <li>
                            <a href=" {% url 'menuapp:adminmenulist' %} "><i class="fa fa-dashboard fa-fw nav_icon"></i>Main Menu</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-indent nav_icon"></i>Menu Categories<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                              {% for menu in allmenus %}
                                <li>
                                    <a href="{% url 'menuapp:adminmenudetail' menu.id %}">{{menu.title}}</a>
                                </li>
                              {% endfor %}
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="{% url 'menuapp:adminitemlist' %}"><i class="fa fa-laptop nav_icon"></i>All Items List<span></span></a>
                        </li>
                        <li>
                            <a href="{% url 'menuapp:adminspecialitemlist' %}"><i class="fa fa-laptop nav_icon"></i>Special Items List<span></span></a>
                        </li>
                        <li>
                            <a href="{% url 'menuapp:adminstafflist' %}"><i class="fa fa-sitemap fa-fw nav_icon"></i>Staffs<span></span></a>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-laptop nav_icon"></i>Slide Banner<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href=" {% url 'menuapp:adminbannerlist' %} ">Banners</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                   <!--      <li>
                            <a href="#"><i class="fa fa-envelope nav_icon"></i>Mailbox<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="inbox.html">Inbox</a>
                                </li>
                                <li>
                                    <a href="compose.html">Compose email</a>
                                </li>
                            </ul>
                            /.nav-second-level
                        </li> -->
                             <li>
                            <a href="#"><i class="fa fa-envelope nav_icon"></i>Basket List<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">

                                <li>
                                    <a href="{% url 'menuapp:adminbasketlist' %}">B-List</a>
                                </li>
                                
                            </ul>
                        </li>
                        <li>
                            <a href="widgets.html"><i class="fa fa-flask nav_icon"></i>Widgets</a>
                        </li>
                         <li>
                            <a href="#"><i class="fa fa-check-square-o nav_icon"></i>Forms<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="forms.html">Basic Forms</a>
                                </li>
                                <li>
                                    <a href="validation.html">Validation</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-table nav_icon"></i>Tables<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="basic_tables.html">Basic Tables</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw nav_icon"></i>Css<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="media.html">Media</a>
                                </li>
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>



        <div id="page-wrapper">
         <!-- ----------------- -->
         <!-- ----------------- -->
         <!-- ----------------- -->
         <!-- ----------------- -->
         <!-- ----------------- -->
         <!-- ----------------- -->
         <!-- ----------------- -->
         <!-- ----------------- -->
         {% block content %}
         {% endblock %}
         <!-- ----------------- -->
         <!-- ----------------- -->
         <!-- ----------------- -->
         <!-- ----------------- -->
         <!-- ----------------- -->
         <!-- ----------------- -->
         <!-- ----------------- -->
         <!-- ----------------- -->
         <!-- ----------------- -->
         <!-- ----------------- -->
       </div>


       <div class="clearfix"> </div>
    </div>
    <div class="content_bottom">
      <div class="copy">
              <p>Copyright &copy; 2015 Modern. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">Xeno Restro</a> </p>
      </div>
    </div>
       </div>
      <!-- /#page-wrapper -->
   


   </div>
    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
    <script src=" {% static 'adminstatic/js/bootstrap.min.js' %} "></script>
</body>
</html>
