{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}
		E-Menu Admin Signin
		{% endblock %}
	</title>
</head>
<body>
	<form action="." method="post">
		{% csrf_token %}
		{{form.as_p}}
		<div class="forgot-grid">
			<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Remember me</label>
			<div class="forgot">
				<a href="#">forgot password?</a>
			</div>
			<div class="clearfix"> </div>
		</div>
		<input type="submit" name="Sign In" value="Sign In">
		<div class="registration">
			Don't have an account ?
			<a class="" href="signup.html">
				Create an account
			</a>
		</div>
	</form>

</body>
</html>