{% extends 'admintemplates/adminbase.html' %}
{% load static %}


{% block title %}
Emenu-Admin HomePage
{% endblock %}



{% block content %}
{% for org in restro %}
<div class="row">
	<div class="col-md-6">
		<h3>Name of Organization: {{org.name}}</h3>
		<img src="{{org.logo.url}}" width="250">
		<h4>Email: {{org.email}}</h4>
		<h4>Phone: {{org.phone}}</h4>
		<h4>Mobile: {{org.mobile}}</h4>
		<h4>Address: {{org.address}}</h4>
	</div>
	<div class="col-md-6">
		<h3>About Us:</h3><br><h4>{{org.about}}</h4>
		<img src="{{org.profile_image.url}}" width="250">
		<a href=""><button class="btn btn-info">Update</button></a>
	</div>
	<br>
</div>
{% endfor %}
{% endblock %}