{% extends 'admintemplates/adminbase.html' %}
{% load static %}


{% block title %}
Emenu-Admin Staff Create Page
{% endblock %}



{% block content %}

<h3> Staff Form</h3>

<form action="." method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{form.as_p}}
	<input type="submit" name="Submit">	
</form>



{% endblock %}